
.log-reg-btn{
  background: #0069AC !important;
  border: none !important;
}
.log-reg-btn:hover{
  background: #027dca !important;
}


body {
  font-family: 'Poppins', sans-serif !important;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #F8F9FA;
}

/* Navbar styles */
nav {
  background-color: #ffffff;
  color: #fff;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 2000px;
  margin-left: auto;
  margin-right: auto;
  /* border: 1px solid red; */
  gap: 5px;
}

/* Logo styles */
.logo {
  width: 100px;
  height: auto;
  /* border: 1px solid red; */
}

/* Search bar styles */

.search-bar-div{
  max-width: 800px;
  width: 100%;
  position: relative;
}

.search-bar {
  width: 100%;
  padding: 16px 8px;
  padding-left: 30px;
  border: #9E9E9E solid 1px;
  border-radius: 8px;
}

.search-icons{
position: absolute;
left: 8px;
top: 32%;
}

/* Profile dropdown styles */
.profile-dropdown {
  position: relative;
  text-align: center;
}

.main-pro-img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: 1px solid #5a6f7f;
}

.profile-dropdown-content {
  display: none;
  position: absolute;
  top: 100%; /* Position the dropdown below the profile button */
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 2;
  text-align: left;
  border-radius: 16px;
  padding: 16px;
}

.profile-dropdown:hover .profile-dropdown-content {
  display: block;
  text-decoration: none;
}

.profile-dropdown-item {
  padding: 12px;
  text-decoration: none !important;
  display: block;
  color: #333;
}

.modal-footer{
  border: none !important;
}
.modal-content {
  border-radius: 20px;
  border: none;
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1);
}
.modal-header{
  border: none !important;
}
.modal-title {
  font-weight: 700;
  /* border: 1px solid red; */
  width: 100%;
  color: #02234D;
}

/* dashboard css */
.custom_img {
  width: 100% !important;
  height: 150px !important;
  border-radius: 16px !important;
  background: #fff !important;
  cursor: pointer;
}
.item-inner{
  padding: 16px;
  background: #fff;
  border-radius: 16px;
}

@media (max-width: 500px) {
  .logo {
    width: 60px;
  }

  .main-pro-img {
    height: 45px;
    width: 45px;
  }

  nav{
    padding-top: 16px;
  }
  .search-bar {
    padding: 8px 24px;
    
  }

  .search-icons{
    position: absolute;
    left: 6px;
    top: 26%;
    }
  
}
